.App {
  display: block;
  width: 50%;
  height: 90vh;
  margin: auto;
  padding: 10px;
  text-align: center;
  border: 2px solid gray;
  border-radius: 5%;
  background-color: #ffd700;
  overflow: auto;
}

input {
  margin: 10px;
}

.filter span {
  margin: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.todoitem span {
  border: 1px solid #add8e6;
  border-radius: 40%;
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  background-color: #add8e6;
}

.todoitem button {
  background-color: #ff6347;
  color: black;
  font-weight: 700;
  font-size: 8px;
  cursor: pointer;
}

.todoitem button:hover {
  background-color: red;
}

h1 {
  color: #ff6347;
  font-size: 30px;
}

button {
  background-color: #add8e6;
  border: 2px solid #6a5acd;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6a5acd;
}
